<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">

		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 面试题管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('Category/index')}" data-title="面试题分类" href="javascript:void(0)"> 面试题分类</a></li>
					<li><a _href="{:url('Interview/index')}" data-title="面试题列表" href="javascript:void(0)"> 面试题列表</a></li>
				</ul>
			</dd>
		</dl>

	</div>
</aside>