<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/index/bootstrap/css/bootstrap.min.css">
    <script src="__STATIC__/index/js/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/index/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .panel-body p span{
            font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
            font-size: 16px !important;
        }
        .panel-title{
            font-family:  "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
            font-size: 18px;
        }
    </style>
    <title>Document</title>
</head>
<body>

<div class="container">
    <h2 style="text-align: center">源文科技面试题库</h2>

    <div class="container" style="margin: 20px">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">请选择学科
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                {volist name="categories" id="vo"}
                <li id="{$vo.id}"><a href="#">{$vo.name}</a></li>
                {/volist}
            </ul>
        </div>
    </div>

    <div class="panel-group" id="accordion">

        {volist name="interviews" id="vo"}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{$vo.id}">{$vo.question}</a>
                </h4>
            </div>
            <div id="{$vo.id}" class="panel-collapse collapse">
                <div class="panel-body">{$vo.answer}</div>
            </div>
        </div>
        {/volist}

    </div>
</div>

<script src="__STATIC__/index/js/common.js"></script>
</body>
</html>