<!--包含头部文件-->
{include file="public/header" /}
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add" method="post" action="{:url('interview/add')}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>问题:</label>
			<div class="formControls col-xs-8 col-sm-6">
				<input type="text" class="input-text" value="" placeholder=""  name="question">
			</div>
		</div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属学科:</label>
            <div class="formControls col-xs-8 col-sm-3">
                <select name="category_id" id="" class="select" style="height: 30px">
                    <option value="0">请选择问题所属学科</option>

                    {volist name="categories" id="vo"}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}

                </select>
            </div>
        </div>

        <div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>答案:</label>
					<div class="formControls col-xs-8 col-sm-9">
					<script id="editor"  type="text/plain" name="answer" style="width:80%;height:300px;"></script></div>
        </div>

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 添加 </button>
			</div>
		</div>
	</form>
</article>
<!--包含头部文件-->
{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script>
$(function(){
	var ue = UE.getEditor('editor');
});
</script>
</body>
</html>